.App {
  text-align: center;
}

.App-header {
  background-color: #46a3f0;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-pannel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: calc(15px + 7vmin);
  color: #ffee57;
}
