.App {
  text-align: center;
}

.App-header {
  padding-top: 4vh;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
  background: radial-gradient(#983628, #A83A50, #A83A50);
}

.App-pannel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: calc(40px + 6vmin);
  color: #ffee57;
  margin: 0;
  margin-bottom: 3vh;
}
