.Player-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;

    button {
        margin-left: 4px;
    }

    input {
        margin-left: 4px;
        outline: none;
    }
}

.Player-area {
    resize: none;
    outline: none;
    border: solid black 2px;
    border-radius: 4px;
    margin-left: 2vw;
}
